<input type="text" value="@Value" @onchange="@OnChangeAsync" />
<p>@Value</p>

@code {

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public EventCallback<string?> ValueChanged { get; set; }

    private async Task OnChangeAsync(ChangeEventArgs e)
    {
        await ValueChanged.InvokeAsync(e.Value?.ToString());
    }

}
